header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
    font-size: 105%;
}

header, footer, body, .video-container {
    background-color: linen;
}

body {
    padding-left: 11%;
}

/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

.navbar {
    color: darkgray;
    padding-left: 10%;
}

/* Стили панели навигации при наведении мышью */
.navbar p:hover {
        color: aliceblue;
}

.video-panel {
    padding-left: 1%;
}

.search-panel {
    margin-top: 10%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

input {
    font-size: 1.5em;
    padding-left: 1%;
    width: 50%;
    height: 100%;
}

/* Простые селекторы*/
.video-container {
    position: relative;
    top: 75px;
    display: inline-block;
    padding-top: 1%;
}
footer {
    position: absolute;
    bottom: 0;
    padding-left: 1%;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
}

.review-button {
    margin-top: 0.5em;
    padding-left: 1%;
    height: 30%;
}

.review-text{
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
}
@media screen and (min-width: 600px) {
    
}